
.icon-heart:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-up-circled2:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-vimeo:before { content: '\f30f'; } /* '' */
.icon-box:before { content: '\f321'; } /* '' */
.icon-box-rect:before { content: '\f322'; } /* '' */
.icon-tudou:before { content: '\f323'; } /* '' */
.icon-youku:before { content: '\f324'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */
.icon-amex:before { content: '\f326'; } /* '' */
.icon-discover:before { content: '\f327'; } /* '' */
